---
layout: default
title: Explainers
permalink: /explainers/
---

<div class="post">

  <div class="header-bar">
    <h1>{{ site.explainers_name | default: "Explainers" }}</h1>
    <h2>{{ site.explainers_description | default: "Learn about differential equations and more." }}</h2>
  </div>


  <ul class="post-list">
    {% for explainer in site.explainers %}
    {% if explainer.title != "Explainers" %}
    {% assign read_time = explainer.content | number_of_words | divided_by: 180 | plus: 1 %}
    {% assign year = explainer.date | date: "%Y" %}
    {% assign tags = explainer.tags | join: "" %}
    {% assign categories = explainer.categories | join: "" %}

    <li>
      <h3>
        <a class="post-title" href="{{ explainer.url | prepend: site.baseurl }}">{{ explainer.title }}</a>
      </h3>
      <p>{{ explainer.description }}</p>
      <p class="post-meta">
        {{ read_time }} min read &nbsp; &middot; &nbsp;
        {{ explainer.date | date: '%B %-d, %Y' }}
      </p>
      <p class="post-tags">
        <a href="{{ year | prepend: '/explainers/' | prepend: site.baseurl }}">
          <i class="fas fa-calendar fa-sm"></i> {{ year }} </a>

        {% if tags != "" %}
        &nbsp; &middot; &nbsp;
        {% for tag in explainer.tags %}
        <a href="{{ tag | prepend: '/explainers/tag/' | prepend: site.baseurl }}">
          <i class="fas fa-hashtag fa-sm"></i> {{ tag }}</a> &nbsp;
        {% endfor %}
        {% endif %}

        {% if categories != "" %}
        &nbsp; &middot; &nbsp;
        {% for category in explainer.categories %}
        <a href="{{ category | prepend: '/explainers/category/' | prepend: site.baseurl }}">
          <i class="fas fa-tag fa-sm"></i> {{ category }}</a> &nbsp;
        {% endfor %}
        {% endif %}
      </p>
    </li>
    {% endif %}

    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>